# Token del bot de Telegram
TELEGRAM_TOKEN=tu_token_de_telegram_aqui

# IDs de los usuarios permitidos
USUARIOS_PERMITIDOS=123456789,987654321

# ID del usaurio administrador
ADMIN_ID=123456789

# IP de la impresora
PRINTER_IP=192.168.1.80
